<div class="bootcards-list">
  <div class="panel panel-default">
    <div class="list-group">
      <a class="list-group-item" href="#">
        <%= image_tag("school_children.jpg", class: 'img-rounded pull-left') %>
        <h4 class="list-group-item-heading">Acey, Sofia</h4>
        <p class="list-group-item-text">Masung Corp.</p>
      </a>
      <a class="list-group-item" href="#">
        <%= image_tag("school_children.jpg", class: 'img-rounded pull-left') %>
        <h4 class="list-group-item-heading">Barish, Joseph</h4>
        <p class="list-group-item-text">Masung Corp.</p>
      </a>
      <a class="list-group-item" href="#">
        <%= image_tag("school_children.jpg", class: 'img-rounded pull-left') %>
        <h4 class="list-group-item-heading">Benson, Sarah</h4>
        <p class="list-group-item-text">ZetaComm</p>
      </a>
    </div>
  </div>
</div>