<% if @school.image_url.nil? %>
  <%= render 'schools/has_no_picture2' %>
<% else %>
  <%= render 'schools/has_picture' %>
<%  end %>


</div>

  <script>

  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets'
  });

</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function(){
      return $(this).attr('data-score')
    }
  });
</script>
